<%- include('../partials/header.ejs') %> 

    <h1>Login Page</h1>
    <div class="row center">
      <form action="/login" method="POST">
        <div class="input-field col s12">
          <input name="name" type="text" id="name" placeholder="username" class="validate">
          <label for="name">Username</label>
        </div>
        <div class="input-field col s12">
          <input type="text" type="password" placeholder="password" name="password" class="validate">
          <label for="password">password</label>
        </div>
        <a href="/blogs" class="btn pink"> Back </a>
        <button class="btn waves-effect waves-light pink" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>

    </div>


<%- include('../partials/footer.ejs') %> 