<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>New Post</h1>
        <div class="row center">

<form action="/blogs" method="POST">
  <div class="input-field col s12">
    <input  name="title" type="text" id="title" class="validate">
    <label for="title">Title</label>
  </div>
  <div class="input-field col s12">
    <input  name="image" type="text" id="image" class="validate">
    <label for="image" data-error="wrong" data-success="right">Image</label>
  </div>
  <div class="input-field col s12">
    <input  name="description"  type="text" id="description" class="validate">
    <label for="description">Description</label>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
  </button>
</form>

        </div>
    </div>

</body>

</html>