<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=`, initial-scale=1.0">
  <title>Document</title>

  <!-- *google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">


  <!-- *materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">


  <!-- *Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />


  <!-- *material icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- *link to css -->
  <link rel="stylesheet" href="/style/style.css">

</head>

<body>


  <header>
    <nav class="nav-wrapper transparent z-depth-0">
      <div class="container">
        <ul class="right">
          <% if (!currentUser) { %>  
            <li id="login"><a href="/login">LOGIN</a></li> 
          <%  } else {  %> 
            <li id="username"><a>Welcome,<%- currentUser.toUpperCase() %>  </a></li> 
            <li id="logout"><a href="/logout">LOGOUT</a></li> 
         <%  } %>  
        </ul>
      </div>
    </nav>

  </header>


  

<main>
  <div class="container center">