<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=`, initial-scale=1.0">
  <title>Document</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
    integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">

</head>

<body>
  

  <header>
    <nav class="nav-wrapper transparent z-depth-0">
      <div class="container">
        <ul class="right">
          <li id="login"><a href="https://github.com/dogfalo/materialize/">LOGIN</a></li>
        </ul>
      </div>
    </nav>

  </header>


 
  <div class="container center">

    <img src="/uploads/tes.jpg" alt="" class="circle responsive-img avatar"> <!-- notice the "circle" class -->
    <h2>My Blog</h2>
    <h4>A super simple blogging theme for Jekyll.</h4>
  </div>

  <div class="parallax-container">
    <div class="parallax">  <img src="/uploads/space.jpg" class="responsive-img"></div>
  </div>

  <div class="container center">
