<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=`, initial-scale=1.0">
  <title>Document</title>

  <!-- *google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">


  <!-- *materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">


  <!-- *material icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- *link to css -->
  <link rel="stylesheet" href="/style/style.css">

</head>

<body>


  <header>
    <nav class="nav-wrapper transparent z-depth-0">
      <div class="container">
        <ul class="right">
          <li id="login"><a href="https://github.com/dogfalo/materialize/">LOGIN</a></li>
        </ul>
      </div>
    </nav>

  </header>


  <div id="avatar" class="container center">

    <img src="/img/avatar.jpg" alt="" class="circle responsive-img avatar"> <!-- notice the "circle" class -->
    <h3>My Blog</h3>
    <h5>A super simple blogging theme for Jekyll.</h5>
  </div>


  <div class="container center">