.wrapper>img {
    height: 40vh;
    width: 20vw;
    border-radius: 10px;
}

.content>i {
    font-size: 5em;
}

.actives {
    display: none;
}

.content {
    padding: 10vh 0;
}

.wrapper {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.cancel {
    position: absolute;
    right: 15px;
    top: 15px;
    color: gray;
    cursor: pointer;
    display: none;
}

.wrapper.active:hover .cancel {
    display: block;
}

.wrapper.active .content {
    display: none;
}

body {
    background: #fff;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}


.post-desc {
    font-size: 2em;
    line-height: 1.2;
}


blockquote {
    border-left: 5px solid orange;
}

.post-head-title {
    letter-spacing: -1px;
    font-weight: 600;
    margin-bottom: 0;
}

.post-head-title:hover {
    color: orange;
}

.post-head-date {
    font-size: 2em;
    color: gray;
    margin: 10px 0 30px;
}

.post-desc {
    font-weight: 300;
}


#body {
    margin-top: 1em;
}

#button {
    margin: 3em 0;
}

a {
    color: inherit;
}



nav ul a {
    color: black;
    padding: 0;
    margin-top: 1.2em;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    font-weight: 600;
}



nav ul a:hover {
    border-bottom: 4px solid orange;
    background-color: inherit;
}

nav {
    line-height: 2em;
    margin-bottom: 1em;
}

.tabs .tab a {
    color: black !important;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.tabs .tab a.active {
    border-bottom: 4px solid orange;
    background-color: inherit;
}

.tabs .tab a:hover {
    color: orange !important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: white;
    outline: none;
}

.tabs .tab {
    margin: 0 20px;
    text-transform: none;
}

.tabs .tab a {
    padding: 0;
}

#avatar>h5 {
    color: gray;
}


#avatar>img {
    height: 16vh !important;
}

section {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#post {
    padding: 20px 0;
}

#about p {
    color: gray;
    text-align: justify;
}

