body {
    background: #fff;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    /* * below is for sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* * for responsive */
html {
    width: 100%;
}

.login {
    padding-top: 30px;
}


/* * below is for sticky footer */

main {
    flex: auto;
}


a {
    color: inherit;
}

.post-body img {
    max-height: 70vh;
    max-width: 100%;
}

.post-desc {
    font-size: 1.7em;
    line-height: 1.2;
    color: black;
    padding: 15px;
    text-align: justify;
}


@media (max-width: 400px) {
    .post-desc {
        font-size: 1.4em;
        padding: 5px;
    }
}

.post-desc a {
    color: blue;
}

.post-desc pre {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
}


section {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

textarea {
    text-align: justify;
}


/** navbar */
nav ul a {
    color: black;
    padding: 0;
    margin-top: 1.2em;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    font-weight: 600;
}



nav ul a:hover {
    border-bottom: 4px solid orange;
    background-color: inherit;
}

nav {
    line-height: 2em;
    margin-bottom: 1em;
}

nav #username {
    margin-right: 20px;
}

/** About Tabs */

#about p {
    color: gray;
    text-align: justify;
}



/* * IMAGE UPLOAD AND PREVIEW */

.wrapper {
    min-height: 300px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.wrapper>.preview>img {
    height: 50vh;
}

.wrapper>img {
    display: none;
}

.cancel {
    position: absolute;
    right: 15px;
    top: 15px;
    color: gray;
    cursor: pointer;
    display: none;
}

.content,
.content>i {
    font-size: 2em;
}




/* * WHEN SOMEONE UPLOAD IT CREATES ACTIVE CLASS */

.wrapper.actives:hover .cancel {
    display: block;
}

.wrapper.actives>img {
    display: block;
    height: 50vh;
}

.wrapper.actives>.preview>img {
    display: none;
}

.wrapper.actives>.content {
    display: none;
}


/* * END */



/** headline and desc field*/

#post {
    padding: 20px 0;
}

.post-headline {
    font-size: 2em;
    line-height: 1.2;
    font-weight: 600;

}



blockquote {
    border-left: 5px solid orange;
}

.post-head-title {
    letter-spacing: -1px;
    font-weight: 600;
    margin-bottom: 0;
}

.post-head-title:hover {
    color: orange;
}

.post-head-date {
    font-size: 2em;
    color: gray;
    margin: 10px 0 30px;
}



/* * tabs */

.tabs .tab a {
    color: black !important;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.tabs .tab a.active {
    border-bottom: 4px solid orange;
    background-color: inherit;
}

.tabs .tab a:hover {
    color: orange !important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: white;
    outline: none;
}

.tabs .tab {
    margin: 0 20px;
    text-transform: none;
}

.tabs .tab a {
    padding: 0;
}

/* * avatar section */

#avatar>h4 {
    padding-top: 30px;
    color: gray;
}


#avatar>img {
    max-height: 20vh !important;
}



/* * footer */

.socials {
    display: flex;
    place-content: center;
}

.socials>li>a {
    margin: 20px;
    font-size: 2.5em;
}

.page-footer {
    color: darkgrey;
    background-color: inherit;
}

.page-footer .footer-copyright {
    background-color: inherit;
    color: darkgrey;
}



/* * pagination */

.pagination {
    margin-top: 5em;
}

.pagination li.active {
    background-color: orange;
}


/* * for strong markdown */

strong {
    font-weight: bolder;
}